<!DOCTYPE html>
<html>
<head></head>
<body>
Hi all,
<p>Board '<%= @board.name %>' is created here: <a href="<%= @url %>"><%= @url %></a>.</p>

<p>Please feel free to post your stickies.</p>
Thanks,<br/>
IdeaBoardy<br/>
</body>
</html>
