<h1>{{board.name}}</h1>
<div ng-switch on="board.mode">
    <div ng-switch-when="view">
        <dl>
            <dt>Description</dt>
            <dd>{{board.description}}</dd>
        </dl>
        <input type="button" value="Edit" ng-click="board.edit()"/>
    </div>
    <div ng-switch-when="edit">
        <ng-include src="'template/board-edit.html'" />
    </div>
</div>
<dl>
    <dt>Sections</dt>
    <dd>
        <ng-include src="'template/section-create.html'"/>
    </dd>
    <dd>
        <ul>
            <li ng-repeat="section in sections">
                <div ng-switch on="section.mode">
                    <div ng-switch-when="view">
                        {{section.name}}
                        <input type="button" value="Edit" ng-click="section.edit()" ng-disabled="!section.editable"/>
                    </div>
                    <div ng-switch-when="edit">
                        <ng-include src="'template/section-edit.html'" />
                    </div>
                </div>
            </li>
        </ul>
    </dd>
</dl>
