<form name="createBoardForm" ng-controller="CreateBoardController" ng-submit="create()">
    <dl>
        <dt><label for="create-board-name">Name:</label></dt>
        <dd>
            <input id="create-board-name" type="text" name="name" ng-model="board.name" required autofocus />
            <span error-message></span>
        </dd>
    </dl>
    <dl>
        <dt>Description:</dt>
        <dd><input type="text" name="description" ng-model="board.description"/></dd>
    </dl>
    <dl>
        <dt>Sections:</dt>
        <dd>
            <ul>
                <li ng-repeat="section in sections">
                    <input id="create-board-section-name-{{$index}}" type="text" name="sectionName{{$index}}" ng-model="section.name" required autofocus />
                    <span error-message></span>
                    <input type="button" value="-" ng-click="removeSection($index)" />
                </li>
            </ul>
            <input type="button" value="+" ng-click="addSection()" />
        </dd>
    </dl>
    <input type="submit" value="Create" />
</form>

<ul>
    <li ng-repeat="board in boards">
        <a href="#/boards/{{board.id}}">{{board.name}}</a>
    </li>
</ul>
