<form name="editBoardForm" ng-controller="EditBoardController">
    <dl class="board-info">
        <dd class="name">
            <input type="text" ng-model="editingBoard.name" required autofocus />
            <span error-message></span>
        </dd>
        <dd class="description">
            <input type="text" ng-model="editingBoard.description"/>
        </dd>
    </dl>
    <div class="command-bar">
        <input class="btn-3 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button" />
        <input class="btn-3 btn-ok" type="button" value="Save" ng-click="save()" ng-disabled="!editBoardForm.$valid" jq-ui="button" />
    </div>
</form>