<h1>{{board.name}}</h1>
<dl>
    <dt>Description</dt>
    <dd>{{board.description}}</dd>
</dl>
<dl>
    <dt>Sections</dt>
    <dd>
        <form name="create-section">
            <input type="text" ng-model="section.name"/>
            <input type="button" value="Create Section" ng-click="createSection()"/>
        </form>
    </dd>
    <dd>
        <ul>
            <li ng-repeat="section in sections">
                <h2>{{section.name}}</h2>
                <input type="button" value="Delete" ng-click="deleteSection(section)"/>
            </li>
        </ul>
    </dd>
</dl>
