<h1>{{title}}</h1>
<div ng-switch on="mode">
    <div ng-switch-when="view">
        <dl>
            <dt>Description</dt>
            <dd>{{board.description}}</dd>
        </dl>
        <input type="button" value="Edit" ng-click="edit()"/>
    </div>
    <div ng-switch-when="edit">
        <dl>
            <dt>Name</dt>
            <dd><input type="text" ng-model="board.name"/></dd>
        </dl>
        <dl>
            <dt>Description</dt>
            <dd><input type="text" ng-model="board.description"/></dd>
        </dl>
        <input type="button" value="Cancel" ng-click="cancel()"/>
        <input type="button" value="Save" ng-click="save()"/>
    </div>
</div>
<dl>
    <dt>Sections</dt>
    <dd>
        <form name="create-section">
            <input type="text" ng-model="section.name"/>
            <input type="button" value="Create Section" ng-click="createSection()"/>
        </form>
    </dd>
    <dd>
        <ul>
            <li ng-repeat="section in sections">
                <div ng-switch on="section.mode">
                    <div ng-switch-when="view">
                        {{section.name}}
                        <input type="button" value="Edit" ng-click="editSection(section)"/>
                    </div>
                    <div ng-switch-when="edit">
                        <ng-include src="'template/section-edit.html'" />
                    </div>
                </div>
            </li>
        </ul>
    </dd>
</dl>
