<div ng-controller="DeleteIdeaController">
    <div class="delete-idea-dialog" title="Delete An Idea"
         jq-ui-dialog='{"width": 400}' ng-show="isDeleteIdeaDialogVisible">
        <p>This brilliant idea is to be delete.</p>
        <p>Is that OK?</p>
        <div class="command-bar">
            <input class="btn-5 btn-ok" type="button" value="Yes, go ahead."
                   ng-click="delete()" jq-ui="button"/>
            <input class="btn-5 btn-cancel" type="button" value="No, take me back."
                   ng-click="cancel()" jq-ui="button"/>
        </div>
    </div>
</div>
