<div ng-controller="CreateIdeaController">
    <div title="Create A New Idea" jq-ui-dialog='{"width": 350}'
         ng-show="isCreateIdeaFormVisible" close="resetCreateIdeaForm()" ng-cloak>
        <form class="create-idea-form" name="createIdeaForm" ng-submit="create()">
            <dl>
                <textarea class="idea-content" ng-model="idea.content" required autofocus />
            </dl>
            <div class="command-bar">
                <input id="create-Idea" class="btn-3 btn-ok" type="submit" value="OK"
                       ng-disabled="!createIdeaForm.$valid" jq-ui="button" />
                <input class="btn-3 btn-cancel" type="button" value="Cancel"
                       ng-click="cancel()" jq-ui="button" />
            </div>
        </form>
    </div>
</div>