<form name="editSectionForm" ng-controller="EditSectionController">
    <dl class="section-info">
        <dd class="name">
            <input class="name" type="text" ng-model="editingSection.name" required autofocus/>
            <span error-message></span>
        </dd>
    </dl>
    <div class="command-bar">
        <input class="btn-2 btn-ok" type="button" value="Save" ng-click="save()"
               ng-disabled="!editSectionForm.$valid" jq-ui="button"/>
        <input class="btn-2 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button"/>
    </div>
</form>
