<h2>Import Board(s)</h2>
<%= form_tag({:action => :upload}, :multipart => true) do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <span class="btn btn-file">
        <span class="fileupload-new">Select file</span>
        <span class="fileupload-exists">Change</span>
        <input type="file" id="file" name="file"/>
      </span>
      <span class="fileupload-preview"></span>
      <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    </div>
    <%= submit_tag "Import", :class => "btn btn-primary", :name => 'import' %>
<% end %>