<header ng-controller="HeaderController">
  <a ng-click="goToHomePage()">IdeaBoardy - <%= @setting.slogan %></a>
  <% if user_signed_in?  %>
    <div class="admin-container">
      <%= button_to "admin", admin_path, class: "admin-link" %>
    </div>
  <%- end %>
</header>

<div id="loading" ng-show="false">
  We are working hard to load the page, please wait...
</div>

<div id="main" class="clear-fix">
  <ng-view></ng-view>
</div>

<footer>
  IdeaBoardy v<%= @setting.app_version %>
</footer>

<ng-include src="'assets/board-create.html'"></ng-include>
<ng-include src="'assets/board-invite.html'"></ng-include>
<ng-include src="'assets/board-delete.html'"></ng-include>
<ng-include src="'assets/section-create.html'"></ng-include>
<ng-include src="'assets/section-delete.html'"></ng-include>
<ng-include src="'assets/idea-create.html'"></ng-include>
<ng-include src="'assets/idea-edit.html'"></ng-include>
<ng-include src="'assets/idea-delete.html'"></ng-include>
<ng-include src="'assets/idea-merge.html'"></ng-include>
<ng-include src="'assets/tag-create.html'"></ng-include>
<ng-include src="'assets/tag-edit.html'"></ng-include>
<ng-include src="'assets/tag-delete.html'"></ng-include>
<ng-include src="'assets/tag-add.html'"></ng-include>
<ng-include src="'assets/report-share.html'"></ng-include>
