<header><a href="#">IdeaBoardy - Put your ideas on board, now!</a></header>
<div id="main" class="clear-fix">
  <ng-view></ng-view>
</div>
<a name="footer"></a>
<footer>
  IdeaBoardy v<span id="version-info"></span>
</footer>
<script type="text/javascript">
    $('#version-info').text(version);
</script>
<launchy/>