<header><a href="#">IdeaBoardy - Put your ideas on board, now!</a></header>

<div id="main" class="clear-fix">
  <ng-view></ng-view>
</div>

<footer>
  IdeaBoardy v<span id="version-info"></span>
</footer>

<script type="text/javascript">
    $('#version-info').text(version);
</script>

<ng-include src="'assets/board-create.html'"></ng-include>
<ng-include src="'assets/board-delete.html'"></ng-include>
<ng-include src="'assets/section-create.html'"></ng-include>
<ng-include src="'assets/section-delete.html'"></ng-include>
<ng-include src="'assets/idea-create.html'"></ng-include>
<ng-include src="'assets/idea-edit.html'"></ng-include>
<ng-include src="'assets/idea-delete.html'"></ng-include>
<ng-include src="'assets/idea-merge.html'"></ng-include>

<launchy/>