<header>
  <a href="#">IdeaBoardy - <%= @setting.slogan %></a>
</header>

<div id="main" class="clear-fix">
  <ng-view></ng-view>
</div>

<footer>
  IdeaBoardy v<%= @setting.app_version %>
</footer>

<ng-include src="'assets/board-create.html'"></ng-include>
<ng-include src="'assets/board-delete.html'"></ng-include>
<ng-include src="'assets/section-create.html'"></ng-include>
<ng-include src="'assets/section-delete.html'"></ng-include>
<ng-include src="'assets/idea-create.html'"></ng-include>
<ng-include src="'assets/idea-edit.html'"></ng-include>
<ng-include src="'assets/idea-delete.html'"></ng-include>
<ng-include src="'assets/idea-merge.html'"></ng-include>

<launchy/>