<div data-role="page">

  <div data-role="header" class="ui-header ui-bar-a" role="banner">
    <h1 class="ui-title" role="heading" aria-level="1">IdeaBoardy</h1>
  </div>

  <ng-view></ng-view>

  <div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo">
    <h4 class="ui-title" role="heading" aria-level="1">IdeaBoardy v<%= @setting.app_version %></h4>
  </div>
</div>