<div id="board_list" data-role="page" ngm-pagebeforeshow="initialize()" ng-controller="MBoardListController">
  <div data-role="header" data-theme="e" data-position="fixed">
    <h1>IdeaBoardy</h1>
    <a ngm-vclick="initialize()" data-role="button" data-icon="refresh" data-iconpos="notext" title="Refresh"></a>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-inset="false">
      <li ng-repeat="board in boards">
        <a ng-href="/m/board/{{board.shortenUrlCode}}" data-transition="slide">{{board.name}}</a>
      </li>
    </ul>
  </div>
  <div data-role="footer" data-theme="e" data-position="fixed">
    <h4>IdeaBoardy v<%= @setting.app_version %></h4>
  </div>
</div>

<div id="board_details" data-role="page" ngm-pagebeforeshow="initialize()" ng-controller="MBoardDetailsController">
  <div data-role="header" data-theme="e" data-position="fixed">
    <h1>{{board.name}}</h1>
    <a href="/m/" data-role="button" data-icon="back" data-transition="slide" data-direction="reverse">Back</a>
  </div>
  <div data-role="content">
    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <a ngm-vclick="initialize()" data-icon="refresh" data-iconpos="right" data-role="button">Refresh</a>
      </div>
      <div class="ui-block-b">
        <a ng-href="/m/board/{{board.shortenUrlCode}}/addIdea" data-icon="plus" data-iconpos="right" data-role="button" data-transition="slideup">Add Idea</a>
      </div>
    </fieldset>
    <div data-role="collapsible-set" data-inset="false" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
      <div data-role="collapsible" data-theme="c" data-content-theme="c" ng-repeat="section in sections">
        <h3>{{section.name}}<span class="ideas-count">({{section.ideas.length}})</span></h3>
        <ul data-role="listview" data-inset="false">
          <li ng-repeat="idea in section.ideas">
            <a ng-href="/m/board/{{board.shortenUrlCode}}/idea?uri={{idea.links.getLink('self').href}}" data-transition="slide" class="ui-link-inherit"
               style="background-color: #{{section.color}}};">
              <span class="ui-li-aside ui-li-desc"><strong>{{idea.vote}}</strong> votes</span>
              {{idea.content}}
            </a>
            <a ng-click="vote(idea, section)" data-icon="star" data-theme="c">Vote</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-role="footer" data-theme="e" data-position="fixed">
    <h4>IdeaBoardy v<%= @setting.app_version %></h4>
  </div>
</div>

<div id="add_idea" data-role="page" ngm-pagebeforeshow="initialize()" ng-controller="MIdeaCreateController">
  <div data-role="header" data-theme="e" data-position="fixed">
    <h1>Add Idea</h1>
    <a ng-href="/m/board/{{board.shortenUrlCode}}" data-role="button" data-icon="back" data-transition="slideup" data-direction="reverse">Cancel</a>
    <button data-icon="check" type="submit" ng-disabled="addIdeaForm.$invalid" ngm-vclick="create(ideaToCreate)">Save</button>
  </div>
  <div data-role="content">
    <form name="addIdeaForm">
      <div data-role="fieldcontain">
        <label for="select_section">Owning section:</label>
        <select id="select_section" ng-model="owningSection" ng-options="s.name for s in board.sections"></select>
      </div>
      <div data-role="fieldcontain">
        <label for="content">Content:</label>
        <textarea id="content" required ng-model="ideaToCreate.content" placeholder="idea content here"></textarea>
      </div>
    </form>
  </div>
  <div data-role="footer" data-theme="e" data-position="fixed">
    <h4>IdeaBoardy v<%= @setting.app_version %></h4>
  </div>
</div>

<div id="show_idea" data-role="page" ngm-pagebeforeshow="initialize()" ng-controller="MIdeaController">
  <div data-role="header" data-theme="e" data-position="fixed">
    <h1>Edit Idea</h1>
    <a ng-href="/m/board/{{board.shortenUrlCode}}" data-role="button" data-icon="back" data-transition="slide" data-direction="reverse">Cancel</a>
    <button data-icon="check" type="submit" ng-disabled="editIdeaForm.$invalid" ngm-vclick="save(idea)">Save</button>
  </div>
  <div data-role="content">
    <form name="editIdeaForm">
      <div data-role="fieldcontain">
        <label for="idea_content">Content:</label>
        <textarea id="idea_content" required ng-model="idea.content" placeholder="idea content here"></textarea>
      </div>
    </form>
    <a ngm-vclick="delete(idea)" data-role="button" data-icon="delete" data-iconpos="right">Delete</a>
  </div>
  <div data-role="footer" data-theme="e" data-position="fixed">
    <h4>IdeaBoardy v<%= @setting.app_version %></h4>
  </div>
</div>