/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui-1.9.1.custom
 *= require_self
 */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html { font-family: Verdana,serif; color: #333333; }
a, a:link, a:visited, a:hover, a:active { text-decoration:none; color:#333333; }
input { font-family: Verdana,serif; color: #333333; border: 1px #d3d3d3 solid; padding: 0; margin: 0; outline: none;}

header { margin-bottom: 0.5em; padding:0.3em 0; background-color: #ffdd57; color: #333333; border-bottom:1px darkgray solid; font-size: 1.4em; text-align: center;}
#main { max-width: 960px; margin: 0 auto; }
footer { margin: 3em 0; font-size: 0.9em; text-align: center; }

.guide { margin: 1em 0 0.5em; font-size: 1.2em; font-style: italic; }
.error-message { color: #dc143c; }
.clear-fix:after { content: ""; display:table; clear: both; }

input.ui-button { padding: 0.1em 0; }
input.btn-1 { width: 2em; }
input.btn-2 { width: 4em; }
input.btn-3 { width: 6em; }
input.btn-4 { width: 8em; }
input.btn-5 { width: 10em; }
input.btn-ok.ui-state-default { background: #32cd32; }
input.btn-ok.ui-state-hover { background: #90ee90;}
input.btn-ok.ui-state-active { background: #ffffff;}
input.btn-cancel.ui-state-default { background: #a9a9a9; }
input.btn-cancel.ui-state-hover { background: #d3d3d3;}
input.btn-cancel.ui-state-active { background: #ffffff;}
input.btn-delete.ui-state-default { background: #ff9999;}
input.btn-delete.ui-state-hover { background: #ffc0cb;}
input.btn-delete.ui-state-active { background: #ffffff;}
input.btn-trivial.ui-state-default { background: #e0e0e0;}
input.btn-trivial.ui-state-hover { background: #f0f0f0;}
input.btn-trivial.ui-state-active { background: #ffffff;}

.board-list { display:block; list-style-type: none; }
.board-list .board { display: table; position: relative; overflow: hidden; margin: 4px; float: left; width: 230px; height: 150px; background-color: #ffffe0; border:1px #a9a9a9 solid; -moz-border-radius: 10px; border-radius: 10px; text-align: center; }
.board-list .board:hover { background-color: #ffdd57; border-color: black; }
.board-list .board .board-name { display: table-cell; vertical-align: middle; line-height: 1.3em; }
.board-list .board.blank { font-size: 1.2em; background-color: white; border-style: dashed; }
.board-list .board.blank .board-name { color: #a9a9a9; }
.board-list .board.blank:hover { background-color: #d3d3d3; border-color: black; }
.board-list .board.blank:hover .board-name { color: black; }

#board { display:block; padding: 1em 0; }
#board-title { margin-bottom: 2em; }
#board-title .board-info { display:block; float:left; width: 50%; overflow: hidden;}
#board-title .command-bar { display:block; float: right; width: 50%; min-width: 8em; }
#board-title .command-bar input { float: right; vertical-align: top; margin-left: 0.5em; }
#board-title dd { display: block; }
#board-title .name { line-height: 2em; }
#board-title .name span { font-size: 1.3em; padding-left: 1px; }
#board-title .name input { font-size: 1.3em; width:80%; border-top: 1px transparent; border-left: none; border-right: none; }
#board-title .description { line-height: 2em; }
#board-title .description span { font-size: 1em; font-style: italic; padding-left: 1px; }
#board-title .description input { font-size: 1em; font-style: italic; width: 80%; padding: 0; border-top: none; border-left: none; border-right: none; }

#report .board-info {margin-bottom: 2em; text-align: center;}
#report .board-info .name { line-height: 2em; font-size: 1.8em; font-weight: bold; padding-left: 1px; }
#report .board-info .description { font-size: 1.2em; font-style: italic; padding-left: 5px; }
#report .section {margin-bottom: 1em; padding: 8px 5px; border-radius: 10px;}
#report .section dt {font-size: 1.3em; font-weight: bold; margin-bottom: 0.4em;}
#report .section dd {padding-left: 5px;}
#report .section ol {list-style-type: decimal;}
#report .section li {margin-left: 30px; margin-bottom: 0.3em;}
#report .section li .vote {font-weight: bold;}

.section-list { display:block; list-style-type: none; }
.section-list .ui-button { font-size: 1em; }
.section-list .section { position: relative; overflow: hidden; margin: 5px; padding-top: 0.2em; float: left; width: 470px; -moz-border-radius: 10px; border-radius: 10px; background-color: #eeeeee; }
.section-list .section .section-info { display:block; float:left; padding: 0; width: 61.8%; }
.section-list .section .command-bar { display:block; float: right; width: 30%; min-width: 8em; }
.section-list .section .command-bar input { float: right; vertical-align: top; margin: 0 0.2em; }
.section-list .section .name  { line-height: 1.6em; padding-left:0.3em; }
.section-list .section .name span { font-size: 1.2em; float:left; padding-left: 1px; width: 100%; height: 1.6em; white-space: nowrap; word-wrap: normal; overflow:hidden; text-overflow: ellipsis; }
.section-list .section .name input { font-size: 1.2em; float: left; width:50%; padding: 0; border-top: none; border-right: none; border-left: none; border-color: #a9a9a9; background-color: #eeeeee; }

.idea-list { display:block; list-style-type: none; }
.idea { position: relative; overflow: hidden; margin: 4px; float: left; width: 225px; height: 150px; border:1px #a9a9a9 solid; -moz-border-radius: 10px; border-radius: 10px; text-align: center; }
.idea.ui-draggable-dragging {background-color: #ffdd57;}
.idea:hover { border-color: black; }
.idea .idea-wrapper { width: 225px; height: 95px; overflow: hidden; }
.idea .idea-info { display: table; }
.idea .idea-content { display: table-cell; vertical-align: middle; width: 225px; height: 95px; overflow: hidden; }
.idea.blank { display: table; font-size: 1.1em; background-color: white; border-style: dashed; }
.idea.blank a { display: table-cell; vertical-align: middle; color: #a9a9a9; }


#create-board-form dl { margin: 0.5em; }
#create-board-form dt { margin-bottom: 0.5em; }
#create-board-form .section { margin-bottom: 0.5em; }
#create-board { margin-top: 2em; }

.color-picker {display: inline-block;}
.color-picker .color-box {margin: 3px; line-height: 15px; height: 15px; width: 13px; display: inline-block; border: 2px solid gray;}
.color-picker .color-box:hover {border: 2px solid orange; cursor: pointer;}
.color-picker .color-box.color-0 {background-color: #ddffdd;}
.color-picker .color-box.color-1 {background-color: #fff0f5;}
.color-picker .color-box.color-2 {background-color: #e6e6fa;}
.color-picker .color-box.color-3 {background-color: #ffffe0;}
.color-picker .color-box.color-4 {background-color: #e0ffff;}
.color-picker .color-box.color-5 {background-color: #ffefd5;}

#delete-board-dialog p, .delete-idea-dialog p { margin-bottom: 1em; font-size: 1.1em;}
#delete-board-dialog .command-bar { margin-bottom: 0.5em; }

#create-section-form dl { margin: 0.5em; }
#create-section-form dt { margin-bottom: 0.5em; }
#create-section { margin-top: 2em; }

#delete-section-dialog p { margin: 0 0 1em; font-size: 1.1em;}
#delete-section-dialog .command-bar { margin-bottom: 0.5em; }

.create-idea-form dl, .edit-idea-form dl { margin-bottom: 0.5em; }
.create-idea-form .idea-content, .edit-idea-form .idea-content { width: 100%; height: 10em; }
.create-idea-form .command-bar, .edit-idea-form .command-bar, .delete-idea-dialog .command-bar { margin-bottom: 0.5em; }

.launchy { display:none; position: fixed; top: 38.2%; left:50%; width: 30em; height: 6em; margin:-3em 0 0 -15em; border: 1px #a9a9a9 solid; background-color: #f3f3f3; -moz-border-radius: 15px; border-radius: 15px; }
.launchy .tip { position: absolute; top: 0.7em; left: 50%; width: 16em; margin-left: -8em; border: 1px transparent solid; font-size: 1.2em; text-align: center; }
.launchy .command { position: absolute; top:61.8%; left: 50%; width: 16em; height: 2em; margin: -1em 0 0 -8em; border-top: none; border-right: none; border-left: none; border-bottom: 1px #a9a9a9 solid; background-color: transparent; font-size: 1.5em; }

.handle { display: block; position: absolute; top: 0; right: 0; width: 32px; height: 32px; margin: 0; padding: 0; border:none; background: transparent url(/assets/handle.png) center no-repeat; }
.handle:hover { background-image: url('/assets/handle-hover.png'); }

.idea-list.droppable-hover { background-color: #d3d3d3; }
.idea.droppable-hover { border-color: black; }