<div id="report" ng-controller="BoardReportController">
    <dl class="board-info">
        <dd class="name"><a ng-click="goToBoard()">{{report.name}}</a></dd>
        <dd class="description">{{report.description}}</dd>
    </dl>
    <dl style="background-color: #{{section.color}}" class="section" ng-repeat="section in report.sections">
        <dt>{{section.name}}</dt>
        <dd>
            <ol>
                <li ng-repeat="idea in section.ideas">
                    {{idea.content}} [<span class="vote">{{idea.vote}}</span> votes]
                </li>
            </ol>
        </dd>
    </dl>
</div>