<div ng-controller="EditConceptController">
    <div id="edit-concept-dialog" name="editConceptDialog" title="Edit A Concept"
         jq-ui-dialog='{"width": 400}' ng-cloak>
        <form class="edit-concept-form" name="editConceptForm" ng-submit="save()">
            <dl>
                <dt>Concept Name:</dt>
                <dd><input type="text" ng-model="dialog.context.concept.name" required error-message /></dd>
            </dl>
            <dl>
                <dt>Tags in this concept:</dt>
                <dd>
                    <select multiple ui-select2="{containerCssClass: 'tags-select-container'}" ng-model="dialog.context.tagNames">
                        <option ng-repeat="tagName in dialog.context.allTagNames">{{tagName}}</option>
                    </select>
                </dd>
            </dl>
            <div class="command-bar">
                <input class="btn-3 btn-ok" type="submit" value="OK"
                       ng-disabled="editConceptForm.$invalid" jq-ui="button" />
                <input class="btn-3 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button" />
            </div>
        </form>
    </div>
</div>
