<div name="createIdeaDialog" title="Create A New Idea"
     ng-controller="CreateIdeaController" jq-ui-dialog='{"width": 400}' ng-cloak>
    <form class="create-idea-form" name="createIdeaForm" ng-submit="create()">
        <dl>
            <textarea class="idea-content" ng-model="dialog.context.ideaToCreate.content" required autofocus/>
        </dl>
        <div class="command-bar">
            <input id="create-Idea" class="btn-3 btn-ok" type="submit" value="OK"
                   ng-disabled="createIdeaForm.$invalid" jq-ui="button"/>
            <input class="btn-3 btn-cancel" type="button" value="Cancel"
                   ng-click="cancel()" jq-ui="button"/>
        </div>
    </form>
</div>