<div class="idea" ng-controller="IdeaController" style="background-color: #{{section.color}}"
     draggable ng-model="idea" droppable="idea.mergeWith($draggableModel)">
    <div class="handle"></div>
    <div class="idea-wrapper">
        <div class="idea-info"><a class="idea-content" ng-click="showEditDialog($event)" title="{{idea.content}}">{{idea.content|truncate:90}}</a></div>
    </div>
    <input class="btn-2 btn-trivial" type="button" value="+ {{idea.vote}}" ng-click="idea.addVote()" jq-ui="button"/>
    <input class="btn-2 btn-trivial" type="button" value="Delete" ng-click="showDeleteDialog()" jq-ui="button"/>
</div>