<div class="idea" ng-controller="IdeaController" style="background-color: #{{section.color}}"
     draggable="idea" type="idea" droppable ng-click="showEditDialog($event)" >
    <meta draggable-type="idea" action="idea.mergeWith($draggableModel)" />
    <meta draggable-type="tag" action="idea.addTag($draggableModel)" />
    <meta draggable-type="tagInConcept" action="idea.addTag($draggableModel)" />
    <!--<meta queryable="idea" lookup-keys="content,vote,tagsName"/>-->
    <ul class="idea-tag-list">
        <li><a class="idea-tag blank" title="click to specify tags" ng-click="$event.stopPropagation(); showSpecifyTagDialog($event)"></a></li>
        <li class="idea-tag" title="click to remove this tag" ng-repeat="tag in idea.getTags()">
            <a ng-click="$event.stopPropagation(); idea.removeTag(tag)">{{tag.name}}</a>
        </li>
    </ul>
    <div class="idea-wrapper">
        <div class="idea-info"><span class="idea-content" title="{{idea.content}}">{{idea.content|truncate:90}}</span></div>
        <div class="idea-command">
            <a ng-click="$event.stopPropagation(); idea.addVote()">+ {{idea.vote}}</a>
        </div>
    </div>
</div>