<div title="Merge Ideas" name="mergeIdeaDialog"
     ng-controller="MergeIdeaController" jq-ui-dialog='{"width": 400}' ng-cloak>
    <form class="edit-idea-form" ng-submit="save()">
        <dl>
            <textarea class="idea-content" ng-model="dialog.context.mergedIdea.content"></textarea>
        </dl>
        <div class="command-bar">
            <input class="btn-3 btn-ok" type="submit" value="OK" jq-ui="button"/>
            <input class="btn-3 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button"/>
        </div>
    </form>
</div>