<div title="Edit An Idea" name="editIdeaDialog"
     ng-controller="EditIdeaController" jq-ui-dialog='{"width": 400}' ng-cloak>
    <form class="edit-idea-form" ng-submit="update()">
        <dl>
            <textarea class="idea-content" rows="10" ng-model="dialog.context.ideaToEdit.content"></textarea>
        </dl>
        <div class="command-bar">
            <input class="btn-3 btn-ok" type="submit" value="OK" jq-ui="button"/>
            <input class="btn-3 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button"/>
        </div>
    </form>
</div>