<div class="idea" ng-controller="IdeaController" style="background-color: #{{section.color}}"
     draggable="idea" type="idea" droppable ng-click="showEditDialog($event)" >
    <meta draggable-type="idea" action="idea.mergeWith($draggableModel)" />
    <meta draggable-type="tag" action="idea.addTag($draggableModel)" />
    <ul class="idea-tag-list">
        <li class="idea-tag" title="click to remove this tag" ng-repeat="tag in idea.getTags()">
            <a ng-click="$event.stopPropagation(); idea.removeTag(tag)">{{tag.name}}</a>
        </li>
    </ul>
    <div class="idea-wrapper">
        <div class="idea-info"><a class="idea-content" title="{{idea.content}}">{{idea.content|truncate:90}}</a></div>
        <div class="idea-command">
            <a ng-click="idea.addVote()">+ {{idea.vote}}</a>
            <a ng-click="showDeleteDialog()">delete</a>
        </div>
    </div>
</div>