<div class="delete-idea-dialog" name="deleteIdeaDialog" title="Delete An Idea"
     ng-controller="DeleteIdeaController" jq-ui-dialog='{"width": 400}' ng-cloak>
    <p>This brilliant idea is to be deleted.</p>
    <p>Is that OK?</p>
    <div class="command-bar">
        <input class="btn-5 btn-ok" type="button" value="Yes, go ahead."
               ng-click="delete()" jq-ui="button"/>
        <input class="btn-5 btn-cancel" type="button" value="No, take me back."
               ng-click="cancel()" jq-ui="button"/>
    </div>
</div>