<div id="share-dialog" name="shareDialog" title="Share report"
     ng-controller="ReportShareController" jq-ui-dialog='{"width": 350}' ng-cloak>
    <form class="share-form" name="shareForm" ng-submit="share()">
        <dl>
            <dt>Email Address:</dt>
            <dd>
                <ul>
                    <li ng-repeat="recipient in dialog.context.recipients">
                        <input name="email" class="email" type="email" ng-model="recipient.email"
                               required error-message autofocus />
                        <input ui-if="dialog.context.recipients.length > 1" class="btn-1" type="button" value="-"
                               ng-click="removeRecipient($index)" jq-ui="button"/>
                    </li>
                </ul>
                <input class="btn-3" type="button" value="+1 recipient" ng-click="addRecipient()" jq-ui="button"/>
            </dd>
        </dl>
        <div class="command-bar">
            <input id="share-report" class="btn-3 btn-ok" type="submit" value="Share"
                   ng-disabled="shareForm.$invalid" jq-ui="button"/>
            <input class="btn-3 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button"/>
        </div>
    </form>
</div>