<div class="section" ng-controller="SectionController" droppable>
    <meta draggable-type="idea" action="section.addImmigrant($draggableModel)" />
    <div class="section-title clear-fix" ng-switch on="section.mode">
        <div ng-switch-when="view">
            <dl class="section-info">
                <dd class="section-name">
                    <span><a ng-click="section.toggleExpand()">{{section.name|truncate:27}}</a></span>
                </dd>
            </dl>
            <div class="command-bar">
                <input class="btn-2" type="button" value="Edit" ng-click="section.edit()"
                       ng-disabled="!section.editable" jq-ui="button"/>
                <input class="btn-2 btn-delete" type="button" value="Delete" ng-click="showDeleteSectionDialog()"
                       jq-ui="button"/>
            </div>
        </div>
        <div ng-switch-when="edit">
            <form name="editSectionForm" ng-controller="EditSectionController" ng-submit="save()">
                <dl class="section-info">
                    <dd class="section-name">
                        <input class="name" type="text" ng-model="editingSection.name" required autofocus />
                        <color-picker for="editingSection"></color-picker>
                    </dd>
                </dl>
                    <div class="command-bar">
                        <input class="btn-2 btn-ok" type="submit" value="Save" ng-disabled="!editSectionForm.$valid" jq-ui="button"/>
                        <input class="btn-2 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button"/>
                    </div>
            </form>
        </div>
    </div>
    <ul class="idea-list clear-fix" ng-show="section.expanded">
        <li ng-repeat="idea in ideas">
            <ng-include src="'assets/idea.html'"></ng-include>
        </li>
        <li class="idea blank">
            <a ng-click="showCreateIdeaDialog($event)">+ 1 idea</a>
        </li>
    </ul>
</div>