<div name="createSectionDialog" title="Create A New Section" ng-controller="CreateSectionController"
     jq-ui-dialog='{"width": 350}' ng-cloak>
    <form id="create-section-form" name="createSectionForm" ng-submit="create()">
        <dl>
            <dt>Section Name</dt>
            <dd>
                <input type="text" ng-model="dialog.context.sectionToCreate.name"
                       required error-message autofocus/>
            </dd>
        </dl>
        <dl>
            <dt>Section Color</dt>
            <dd>
                <color-picker for="dialog.context.sectionToCreate"></color-picker>
            </dd>
        </dl>
        <dl>
            <input id="create-section" class="btn-3 btn-ok" type="submit" value="Create"
                   ng-disabled="createSectionForm.$invalid" jq-ui="button"/>
            <input class="btn-3 btn-cancel" type="button" value="Cancel" ng-click="cancel()" jq-ui="button"/>
        </dl>
    </form>
</div>
