<div id="delete-tag-dialog" name="deleteTagDialog" title="Delete A Tag"
     ng-controller="DeleteTagController" jq-ui-dialog='{"width": 400}' ng-cloak>
    <p>The tag "{{dialog.context.tagToDelete.name}}" will be deleted.</p>
    <p>Is that OK?</p>
    <div class="command-bar">
        <input class="btn-5 btn-ok" type="button" value="Yes, go ahead."
               ng-click="delete()" jq-ui="button"/>
        <input class="btn-5 btn-cancel" type="button" value="No, take me back."
               ng-click="cancel()" jq-ui="button"/>
    </div>
</div>